/* /////////////////////////////////////////////////////////////////////////////////////////CODE START */

/* ////////////////////////////////////////////////////////////////////////////////VARIABLES */
:root {
  --light_felt_green: #436767;
  --felt_green: #325656;
  --dark_felt_green: #2b4242;
  --youtube_red: #ff0000;
  --topbar_light_blue: rgb(76, 173, 205);
  --button_dark_teal: rgb(23, 132, 168);
  --pagebox_green: #d1e3d5;
  --active_button_gold: rgb(255, 191, 0);
}

/* ///////////////////////////////////////////////////////////////////////////UNIVERAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* /////////////////////////////////////////////////////////////////////////////////ELEMENTS */

/* /////////////////////////////////////////////////////////MAIN */

body {
  position: relative;
  /* background-image: url("img/background_v7.png"); */
  /* background-position: center center; */
  /* background-repeat: repeat-y; */
  /* background-size: cover; */
}

.pagebox {
  min-height: 100vh;
  margin: 0 50px;
  max-width: 95%;
  background-color: var(--pagebox_green);
  position: relative;
  padding-bottom: 48px;
  padding-top: 100px;
}

/* ///////////////////////////////////////////////////////TOPBAR */

/* /////////////////////////TOPBAR STRUCTURE */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--topbar_light_blue);
  border-bottom: 2px solid white;
  width: 100vw;
  height: 100px;
  display: grid;
  grid-template-columns: 10% 40% 50%;
  z-index: 4;
}

.topbar_logo {
  height: 80px;
  width: 80px;
  margin-left: 60px;
  margin-top: 10px;
  border-radius: 10%;
  border: solid 2px white;
}

.topbar_title {
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  margin: 16px;
  color: white;
}

/* ///////////////////////////TOPBAR BUTTONS */
.topbar_block_buttons {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-right: 60px;
}

.topbar_block_login {
  padding-left: 20px;
}

.topbar_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.topbar_button {
  border-radius: 9999px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 90%;
  height: 60px;
  background-color: var(--button_dark_teal);
  outline: 2px solid white;
  text-align: center;
  padding-top: 18px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.topbar_button:hover {
  box-shadow: 0px 0px 20px white;
}

.topbar_button svg {
  margin-left: 30px;
  transform: translateY(-25%);
}

.topbar_button p {
  text-align: left;
  padding-left: 14px;
  color: white;
  font-weight: bold;
}

.topbar_login {
  background-color: var(--youtube_red);
  width: 90%;
}

.topbar_login svg {
  margin-left: 60px;
}

.topbar_login p {
  color: white;
  text-align: left;
}

/* /////////////////////////TOPBAR DROPDOWNS */
.topbar_dropdown {
  position: fixed;
  max-height: 0;
  overflow: hidden;
  width: 30%;
  background-color: var(--button_dark_teal);
  border: 2px solid white;
  border-top: none;
  z-index: 3;
  transition: bottom 0.5s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.topbar_pointer {
  width: 40px;
  height: 20px;
  position: absolute;
  top: 80px;
  opacity: 0;
  z-index: 3;
  background-color: rgb(23, 132, 168);
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.topbar_dropdown_games {
  right: 29.5%;
  padding-bottom: 20px;
}

.topbar_dropdown_players {
  right: 19.5%;
  padding-bottom: 20px;
}

.topbar_dropdown_signup {
  right: 8.5%;
  padding-bottom: 20px;
}

.topbar_dropdown_login {
  right: 0;
  padding-bottom: 20px;
  background-color: var(--youtube_red);
}

.topbar_hidden {
  top: 0;
  transition: top 0.5s ease-in-out;
}

.topbar_descended {
  transition: top 0.5s ease-in-out;
  top: 100px;
}

/* ////////////////////////////////////////////////////SECTION 1 */
.section1_boxes {
  display: grid;
  grid-template-columns: 3fr 1.7fr;
  width: 95rem;
  height: 40rem;
  margin: auto;
  margin-bottom: 48px;
  outline: 20px solid black;
  overflow: hidden;
  margin-top: 48px;
}

/* //////////////////////////////////GAMEBOX */
.gamebox {
  position: relative;
}

.gamebox_ad {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.gamestart_block {
  display: grid;
  grid-template-rows: 1fr auto auto;
  position: absolute;
  width: 400px;
  background-color: var(--felt_green);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  border: solid 4px white;
  z-index: 1;
}

.grey_overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: multiply;
}

.gamestart_text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gamestart_button_fun,
.gamestart_button_pro {
  color: white;
  height: 40px;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 9999px;
  box-shadow: 0px 0px 4px var(--felt_green);
  outline: 2px solid white;
  cursor: pointer;
  margin-bottom: 10px;
}

.gamestart_button_fun {
  background-color: var(--youtube_red);
}

.gamestart_button_pro {
  background-color: var(--button_dark_teal);
  margin-bottom: 20px;
}

.gamestart_button_fun:hover,
.gamestart_button_pro:hover {
  box-shadow: 0px 0px 20px white;
}

.gamestart_button_fun:active,
.gamestart_button_pro:active {
  background-color: var(--active_button_gold);
}

.board_img {
  position: relative;
  height: 91%;
  width: 100%;
}

/* ////////////////////////////SUPPORT BOXES */
.support_boxes {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* //////////////////////////////////CHATBOX */
.chatbox_section {
  background-color: var(--active_button_gold);
  width: auto;
  display: grid;
  grid-template-rows: 90% 10%;
  overflow: hidden;
}

.chatbox_display {
  background-color: aliceblue;
  height: 96%;
  width: 96%;
  margin-top: 2%;
  margin-left: 2%;
  border: solid 1px black;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatbox_entry_a,
.chatbox_entry_b,
.chatbox_entry_c,
.chatbox_entry_d,
.chatbox_entry_e,
.chatbox_entry_f {
  padding: 4px;
  padding-left: 8px;
  padding-bottom: 0px;
  font-size: 18px;
  white-space: wrap;
  word-wrap: break-word;
}

.chatbox_entry_a {
  background-color: rgb(234, 245, 255);
}

.chatbox_entry_b {
  background-color: rgb(165, 216, 247);
}

.chatbox_entry_c {
  background-color: rgb(230, 181, 148);
}

.chatbox_entry_d {
  background-color: rgb(230, 207, 191);
}

.chatbox_entry_e {
  background-color: rgb(242, 235, 236);
}

.chatbox_entry_f {
  background-color: rgb(251, 192, 201);
}

.player_name {
  color: blue;
}

.opponent_name {
  color: var(--youtube_red);
}

#chatbox_input {
  width: 96%;
  height: 70%;
  margin-left: 2%;
  padding-left: 2%;
}

/* /////////////////////////////DICE SECTION */
.dice_section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 4fr;
  background-color: var(--light_felt_green);
  position: relative;
}

.dice_button_block {
  align-self: center;
  justify-self: center;
  width: 100%;
  margin-top: 5%;
  height: 2rem;
}

.dice_button_roll1,
.dice_button_roll2 {
  display: block;
  background-color: var(--dark_felt_green);
  width: 50%;
  height: 24px;
  border: solid 2px white;
  border-radius: 5%;
  margin: 0 25%;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.dice_img_block {
  margin: 0 auto;
  height: 80%;
  width: 80%;
  padding-bottom: 24px;
}

.dice_img1,
.dice_img2 {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  margin: 0 auto;
}

.dice_result_display {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  width: 80px;
  height: 80px;
  background-color: var(--youtube_red);
  border-radius: 50%;
  color: white;
  font-size: 40px;
  font-weight: bold;
  z-index: 1;
}

/* ///////////////////////////////////////////////////COOKIE BAR */

/* /////////////////////COOKIE BAR STRUCTURE */
.cookie_permission {
  display: grid;
  grid-template-columns: 6fr 4fr;
  height: 60px;
  width: 100vw;
  position: fixed;
  bottom: -60px;
  background-color: var(--topbar_light_blue);
  z-index: 2;
  transition: bottom 1.5s ease-in-out;
}

.show_cookie_permission_bar {
  bottom: 0;
}

.cookie_permission_text {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding-top: 20px;
  padding-left: 15%;
}

/* ///////////////////////COOKIE BAR BUTTONS */
.cookie_permission_button_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  gap: 48px;
}

.cookie_permission_button {
  display: block;
  height: 40px;
  width: 200px;
  background-color: var(--button_dark_teal);
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  border: solid 2px white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.cookie_permission_button:hover {
  box-shadow: 0px 0px 20px white;
}

.cookie_permission_button:active {
  background-color: var(--active_button_gold);
}

.cookie_permission_button_grid div:nth-child(2) .cookie_permission_button {
  background-color: var(--youtube_red);
}

.cookie_permission_button_grid
  div:nth-child(2)
  .cookie_permission_button:active {
  background-color: var(--active_button_gold);
}

.cookie_information_button {
  margin-left: 40px;
  margin-right: 4rem;
  text-decoration: none;
}

/* ////////////////////////////////////////////////////////////////////EXPERIMENTAL ELEMENTS */

/* //////////////////////PICTURE ADS DISPLAY */
.test_adbox {
  border: solid 4px black;
  height: 400px;
  width: 600px;
  margin: auto;
}

.test_ad_link {
  height: 100%;
  width: 100%;
}

.test_ad {
  height: 100%;
  width: 100%;
}

/* ////////////////////////////DEBUG BUTTONS */
.toggle_ads_button,
.toggle_game_button,
.clear_cookie_button,
.ask_jack_button {
  position: absolute;
  z-index: 10;
}

.toggle_ads_button {
  top: 140px;
}

.toggle_game_button {
  top: 160px;
}

.clear_cookie_button {
  top: 180px;
}

.ask_jack_button {
  top: 200px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////CODE END */

.topbar_dropdown p {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.game_button_backgammon,
.game_button_murder_mansion {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 500px;
  background-color: var(--topbar_light_blue);
  outline: solid 2px white;
  margin-left: 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.game_button_backgammon:hover,
.game_button_murder_mansion:hover {
  box-shadow: 0px 0px 20px white;
}

.game_button_backgammon:active,
.game_button_murder_mansion:active {
  background-color: var(--active_button_gold);
}

.game_button_backgammon img,
.game_button_murder_mansion img {
  height: 100px;
  width: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 2px solid white;
}

.game_button_backgammon p,
.game_button_murder_mansion p {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  padding-top: 25px;
}

.imbed_game {
  height: 650px;
}
